{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if signup_url %}
        <li>
            <button type="button" data-copy-url="{{ signup_url }}"
                    class="font-medium inline-flex group items-center gap-1 relative rounded-default justify-center whitespace-nowrap cursor-pointer px-3 py-2 border border-base-200 bg-primary-600 border-transparent text-white hover:bg-primary-600/80">
                <span class="material-symbols-outlined -ml-0.5">content_copy</span>
                <span data-copy-label>{% trans "Copiar link" %}</span>
            </button>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}